
.profile{
    
    margin-top:130px;

    //width: 60%;

    padding: 0px;
   // background: rgb(253, 253, 253);
    border-radius: 20px;
    
}
.list-group-item{
    background: rgb(96, 95, 138);
    width: 400px;
    
}



.b{
    font-weight: bold;
}

.lm{
    margin-left: 300px;
}

._profile{

    
    span{
margin-left: 5px;
    }

    button{
        border-radius: 10px;
        padding: 5px,5px,5px,5px;
        
    }
    



    input{
        border-radius: 10px;
        margin-left: 10px !important;
    margin-left: 0px !important;
    }

}