@use '../custom' as *;

.signup_form{
    //border:1px solid #000;
    margin-top:120px;

    //width: 60%;

    padding: 0px;
   // background: rgb(253, 253, 253);
   border-radius: 20px;
    
}
.error{
    color:$danger;
    font-size: small;
    margin-top:10px;
}
.success{
    color:$success;
    font-size: small;
    margin-top:10px;
}
.input{
    margin-top: 5px;
    
}
.input-1{
    border-radius: 5px;
    border: 1px white solid;
    padding: 0 7px;
    margin-bottom: 5px;
    
}